@font-face {
    font-family: pixel;
    src: url(recursos/CutePixel.ttf);
}

.base {
    height: 750px; 
    width: 80%; 
    display: flex;  
    background-color: #ffde59;
    border-radius: 15px;
    border-color: #ffde59;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    margin: auto;
    margin-top: 3%;
    border: 5px solid #d6a02d;
}

.screen{
    width: 80%;
    height: 90%;
    background-image: url(recursos/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    margin: auto;
    position: relative;
    border-radius: 15px;
    border: 5px solid rgb(43, 43, 88);
    box-shadow: 5px 5px 0 rgba(43, 43, 88, 0.411);
    place-items: center;
}

h1 {
    font-family: pixel;
    text-align: center;
    color: rgb(251, 255, 0);
    font-size: 150px;
    margin: auto;
    margin-top: 10%;
    font-style: italic;
    text-shadow: 5px 5px 0 black;
}

.card{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(1,300px);
    position: relative;  
    margin-bottom: 20%;  
    gap: 20px;
}

.jogo-card1, .jogo-card2, .jogo-card3 {
    display: grid;
    background-color: rgba(240, 248, 255, 0.548);
    border-radius: 20px;
    border: 5px solid white;
}

a {
    text-decoration: none;
    font-family: pixel;
    text-align: center;
    color: rgb(0, 247, 255);
    font-size: 40px;
    margin: auto;
    font-style: italic;
    text-shadow: 2px 2px 0 black;
}

img {
    width: 40%;
    margin: auto;
}

.bola {
    position: relative;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin: 10px 10px;
    background-color: #ff3131; 
    display: flex; 
    align-items: left; 
    justify-content: left; 
    font-size: 30px; 
    font-weight: bold; 
    color: #ff3131;
    float: left;
    text-indent: .1em;
    align-self: flex-end;
    float: left;
    box-shadow: 5px 5px 0 #910b0b;
}
.meio-circulo {
    position: relative;
    width: 80px;
    height: 50px;
    margin: 10px 10px;
    background: #ff3131;
    border-radius: 50% / 10%;
    color: #ff3131;
    text-align: center;
    text-indent: .1em;
    align-self: flex-end;
    float: left;
    box-shadow: 5px 5px 0 #910b0b;
}