#all {
aspect-ratio: 1/1;
container-type: inline-size;
display: grid;
grid-template-columns: repeat(12,20px);
grid-template-rows: repeat(12,20px);
}

fieldset{
    border: 0;
    margin: 0;
    padding: 0;
    display: grid;
}
input {
    all: unset;
    display: grid;
    &:checked{
        background-color: aqua;
    }
    &::after {
        content: attr(value);
    }
}

[name=1]{
    grid-area: 1/ 1 / 5 / 1;
}

[name=2]{
    grid-area: 1 / 7 / 1 / 12;
}

[name=3]{
    grid-area: 12/ 1 / 12 / 5;
}

[name=4]{
    grid-area: 6/ 1 / 1 / 8;
}
[name=5]{
    grid-area: 1/ 7 / 1 / 2;
}
[name=6]{
    grid-area: 1/ 8 / 5 / 8;
}
[name=7]{
    grid-area: 3/ 3 / 7 / 3;
}
[name=8]{
    grid-area: 1/ 8 / 1 / 2;
}
[name=9]{
    grid-area: 1/ 8 / 1 / 2;
}

.horizontal {
    grid-auto-flow: column;
}

.vertical {
    grid-auto-flow: row;
}