@font-face {
    font-family: pixel;
    src: url(CutePixel.ttf);
}
.jogo {
    
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        border: 1px solid #ffde59;
        cursor: pointer;
        border-radius: 5px;
        background-color:#ffde59;
        border-color: hsl(0, 0%, 0%);
        font-family: pixel;
        font-size: 25px;
    
}
.escondido {
    visibility: hidden;
    font-family: pixel;
    background-color: #fae284;
    border: 3px solid #d6a02d;
    border-radius: 8px;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 0 #d6a02d;
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 0 black;
}
.escondido2 {
    visibility: hidden;
    font-family: pixel;
    background-color: #fae284;
    border: 3px solid #d6a02d;
    border-radius: 8px;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 0 #d6a02d;
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 0 black;
}

.estilosinho {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
 
}
.base {
    height: 750px; 
    width: 80%; 
    display: flex;  
    background-color: #ffde59;
    border-radius: 15px;
    border-color: #ffde59;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    margin: auto;
    margin-top: 3%;
    border: 5px solid #d6a02d;
    flex-direction: column;

}

.screen{
    width: 80%;
    height: 90%;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    margin: auto;
    position: relative;
    border-radius: 15px;
    border: 5px solid rgb(43, 43, 88);
    box-shadow: 5px 5px 0 rgba(43, 43, 88, 0.411);
    place-items: center;
}
.titulos {
    font-family: pixel;
    text-align: center;
    color: rgb(251, 255, 0);
    font-size: 40px;
    margin: auto;
    font-style: italic;
    text-shadow: 5px 5px 0 black;
}
.principal {
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.botao {
    font-family: pixel;
    background-color: #fae284;
    border: 3px solid #d6a02d;
    border-radius: 8px;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 0 #d6a02d;
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 0 black;
    margin: 20px;
}